<html>
	<head>
		<title>NRG</title>
	</head>
	<body>
		<h3>Simple NRG app measurement</h3>

		<div>

			<div><input type="text" placeholder="Enter CO2 value" name="co2"/></div>
			<div><input type="text" placeholder="Enter Temperature value" name="temp"/></div>
			<div><input type="text" placeholder="Enter Humidity value" name="humidity"/></div>
			<div><input type="text" placeholder="Enter PIR value" name="pir"/></div>
			<div><input type="text" placeholder="Enter Light value" name="light"/></div>
			<div><input type="submit" value="submit"/></div>
		</div>
	</body>
</html>